html{
    height: 100%;
}
body{
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.container #gallery{
    display: flex;
    list-style: none;
    justify-content: space-between;
}

#gallery li{flex: 1;}

#gallery li a{
    text-decoration: none;
}

#showzone img{
    width: 520px;
    height: 400px;
}

#showzone #text{
    text-align: center;
}